In [1]:
from bs4 import BeautifulSoup
import requests
import pandas as pd
from selenium import webdriver
from selenium.webdriver.chrome.service import Service
import os
import time
import re
import numpy as np

In [2]:
db = pd.read_csv("database.csv")

In [4]:
db = db.drop("Unnamed: 0", axis=1)

In [13]:
asg_mvp = pd.read_csv("awards/asg_mvp.csv")

In [16]:
# Adding all-star game mvp winners
db["All Star Game MVP"] = False

In [29]:
asg_mvp

                   Player
0            Jayson Tatum
1           Stephen Curry
2   Giannis Antetokounmpo
3           Kawhi Leonard
4            Kevin Durant
..                    ...
71           Bill Sharman
72              Bob Cousy
73           George Mikan
74            Paul Arizin
75            Ed Macauley

[76 rows x 1 columns]

In [30]:
# Code to add TRUE for anyone who won ASG MVP
for i in range(len(asg_mvp)):
    player = asg_mvp["Player"][i]
    db.loc[db["Name"] == player, "All Star Game MVP"] = True

In [35]:
mvp = pd.read_csv("awards/nba_mvp.csv")
mvp

                   Player
0             Joel Embiid
1            Nikola Jokić
2            Nikola Jokić
3   Giannis Antetokounmpo
4   Giannis Antetokounmpo
..                    ...
73          Artis Gilmore
74            Mel Daniels
75        Spencer Haywood
76            Mel Daniels
77         Connie Hawkins

[78 rows x 1 columns]

In [45]:
# Adding nba/aba mvp winners
db["Most Valuable Player"] = False
for i in range(len(mvp)):
    player = mvp["Player"][i]
    db.loc[db["Name"] == player, "Most Valuable Player"] = True

In [46]:
db[db["Name"] == "LeBron James"]

,Name,Season,Age,Tm,Lg,Pos,G,GS,MP,FG,...,College,Image URL,All Star Games,Championships,HOF,Pick #,Draft Year,Triple-Doubles,All Star Game MVP,Most Valuable Player
2183,LeBron James,2003-04,19.0,['CLE' 'MIA' 'LAL'],NBA,SG,82.0,82.0,42.5,11.4,...,NaN,https://www.basketball-reference.com/req/20210...,19,4,1,1.0,2003.0,107.0,True,True

In [47]:
db.columns

Index(['Name', 'Season', 'Age', 'Tm', 'Lg', 'Pos', 'G', 'GS', 'MP', 'FG',
       'FGA', 'FG%', '3P', '3PA', '3P%', '2P', '2PA', '2P%', 'eFG%', 'FT',
       'FTA', 'FT%', 'ORB', 'DRB', 'TRB', 'AST', 'STL', 'BLK', 'TOV', 'PF',
       'PTS', 'MidSeasonTrade', 'Career high, Points', 'Career high, Rebounds',
       'Career high, Assists', 'Career high, Steals', 'Career high, Blocks',
       'Career high, Game Score', 'College', 'Image URL', 'All Star Games',
       'Championships', 'HOF', 'Pick #', 'Draft Year', 'Triple-Doubles',
       'All Star Game MVP', 'Most Valuable Player'],
      dtype='object')

In [48]:
# Rookie of the Year
roty = pd.read_csv("awards/roty.csv")
roty

             Player
0    Paolo Banchero
1    Scottie Barnes
2       LaMelo Ball
3         Ja Morant
4       Luka Dončić
..              ...
85        Dan Issel
86    Charlie Scott
87  Spencer Haywood
88    Warren Jabali
89      Mel Daniels

[90 rows x 1 columns]

In [49]:
db["Rookie of the Year"] = False
for i in range(len(roty)):
    player = roty["Player"][i]
    db.loc[db["Name"] == player, "Rookie of the Year"] = True

In [50]:
db[db["Name"] == "LeBron James"]

,Name,Season,Age,Tm,Lg,Pos,G,GS,MP,FG,...,Image URL,All Star Games,Championships,HOF,Pick #,Draft Year,Triple-Doubles,All Star Game MVP,Most Valuable Player,Rookie of the Year
2183,LeBron James,2003-04,19.0,['CLE' 'MIA' 'LAL'],NBA,SG,82.0,82.0,42.5,11.4,...,https://www.basketball-reference.com/req/20210...,19,4,1,1.0,2003.0,107.0,True,True,True

In [51]:
# Defensive Player of the Year
dpoy = pd.read_csv("awards/dpoy.csv")

In [52]:
db["Defensive Player of the Year"] = False
for i in range(len(dpoy)):
    player = dpoy["Player"][i]
    db.loc[db["Name"] == player, "Defensive Player of the Year"] = True

In [53]:
# 6th man of the Year
sixth_moy = pd.read_csv("awards/6moy.csv")

In [54]:
db["6th Man of the Year"] = False
for i in range(len(sixth_moy)):
    player = sixth_moy["Player"][i]
    db.loc[db["Name"] == player, "6th Man of the Year"] = True

In [55]:
# Most Improved
improved = pd.read_csv("awards/improved.csv")

In [57]:
db["Most Improved Player"] = False
for i in range(len(improved)):
    player = improved["Player"][i]
    db.loc[db["Name"] == player, "Most Improved Player"] = True

In [58]:
# Finals MVP
fmvp = pd.read_csv("awards/finals_mvp.csv")

In [59]:
db["Finals MVP"] = False
for i in range(len(fmvp)):
    player = fmvp["Player"][i]
    db.loc[db["Name"] == player, "Finals MVP"] = True

In [61]:
db[db["Name"] == "Giannis Antetokounmpo"]

,Name,Season,Age,Tm,Lg,Pos,G,GS,MP,FG,...,Pick #,Draft Year,Triple-Doubles,All Star Game MVP,Most Valuable Player,Rookie of the Year,Defensive Player of the Year,6th Man of the Year,Most Improved Player,Finals MVP
117,Giannis Antetokounmpo,2013-14,19.0,['MIL'],NBA,SF,81.0,80.0,36.7,11.2,...,15.0,2013.0,35.0,True,True,False,True,False,True,True

## Finished all major awards, now to add all-nba team, all-defensive, and all-rookie (maybe)

In [62]:
all_nba = pd.read_csv("awards/all_nba.csv")

In [64]:
# Create columns
db["All-NBA 1st Team"] = 0
db["All-NBA 2nd Team"] = 0
db["All-NBA 3rd Team"] = 0
db["All-NBA Teams (Total)"] = 0

In [91]:
# For loop to add all-nba selections for each eligible player
for i in range(len(all_nba)):
    # getting player
    player = all_nba["Player"][i]
    
    # getting all-nba counts
    first = (all_nba[all_nba["Player"] == player]["1st"].iloc[0])
    second = (all_nba[all_nba["Player"] == player]["2nd"].iloc[0])
    third = (all_nba[all_nba["Player"] == player]["3rd"].iloc[0])
    total = (all_nba[all_nba["Player"] == player]["Tot"].iloc[0])
    
    #inserting those values in database
    db.loc[db["Name"] == player, "All-NBA 1st Team"] = first
    db.loc[db["Name"] == player, "All-NBA 2nd Team"] = second
    db.loc[db["Name"] == player, "All-NBA 3rd Team"] = third
    db.loc[db["Name"] == player, "All-NBA Teams (Total)"] = total

In [93]:
db[db["Name"] == "LeBron James"]

,Name,Season,Age,Tm,Lg,Pos,G,GS,MP,FG,...,Most Valuable Player,Rookie of the Year,Defensive Player of the Year,6th Man of the Year,Most Improved Player,Finals MVP,All-NBA 1st Team,All-NBA 2nd Team,All-NBA 3rd Team,All-NBA Teams (Total)
2183,LeBron James,2003-04,19.0,['CLE' 'MIA' 'LAL'],NBA,SG,82.0,82.0,42.5,11.4,...,True,True,False,False,False,True,13,3,3,19

In [94]:
# All star game selections
asg = pd.read_csv("awards/asg.csv")

In [96]:
db["All Star Game Selections"] = 0

In [97]:
asg

                  Player  Tot
0    Kareem Abdul-Jabbar   19
1           LeBron James   19
2            Kobe Bryant   18
3          Julius Erving   16
4             Tim Duncan   15
..                   ...  ...
516      Jayson Williams    1
517          Mo Williams    1
518         Kevin Willis    1
519    Metta World Peace    1
520        Max Zaslofsky    1

[521 rows x 2 columns]

In [98]:
for i in range(len(asg)):
    # getting player
    player = asg["Player"][i]
    
    # count
    count = (asg[asg["Player"] == player]["Tot"].iloc[0])
    
    # inserting
    db.loc[db["Name"] == player, "All Star Game Selections"] = count

In [102]:
db[db["Name"] == "Kobe Bryant"]

,Name,Season,Age,Tm,Lg,Pos,G,GS,MP,FG,...,Rookie of the Year,Defensive Player of the Year,6th Man of the Year,Most Improved Player,Finals MVP,All-NBA 1st Team,All-NBA 2nd Team,All-NBA 3rd Team,All-NBA Teams (Total),All Star Game Selections
552,Kobe Bryant,1996-97,18.0,['LAL'],NBA,SF,82.0,82.0,41.5,12.2,...,False,False,False,False,True,11,2,2,15,18

In [103]:
# All-defense
all_defense = pd.read_csv("awards/all_defense.csv")

In [105]:
db["All-Defense 1st Team"] = 0
db["All-Defense 2nd Team"] = 0
db["All-Defense Teams (Total)"] = 0

In [106]:
all_defense

                  Player  1st  2nd  Tot
0             Tim Duncan    8    7   15
1            Kobe Bryant    9    3   12
2          Kevin Garnett    9    3   12
3    Kareem Abdul-Jabbar    5    6   11
4            Bobby Jones    8    1    9
..                   ...  ...  ...  ...
175         Scott Wedman    0    1    1
176        Derrick White    0    1    1
177     Hassan Whiteside    0    1    1
178     Micheal Williams    0    1    1
179      Robert Williams    0    1    1

[180 rows x 4 columns]

In [107]:
# For loop to add all-nba selections for each eligible player
for i in range(len(all_defense)):
    # getting player
    player = all_defense["Player"][i]
    
    # getting all-nba counts
    first = (all_defense[all_defense["Player"] == player]["1st"].iloc[0])
    second = (all_defense[all_defense["Player"] == player]["2nd"].iloc[0])
    total = (all_defense[all_defense["Player"] == player]["Tot"].iloc[0])
    
    #inserting those values in database
    db.loc[db["Name"] == player, "All-Defense 1st Team"] = first
    db.loc[db["Name"] == player, "All-Defense 2nd Team"] = second
    db.loc[db["Name"] == player, "All-Defense Teams (Total)"] = total

In [108]:
db[db["Name"] == "LeBron James"]

,Name,Season,Age,Tm,Lg,Pos,G,GS,MP,FG,...,Most Improved Player,Finals MVP,All-NBA 1st Team,All-NBA 2nd Team,All-NBA 3rd Team,All-NBA Teams (Total),All Star Game Selections,All-Defense 1st Team,All-Defense 2nd Team,All-Defense Teams (Total)
2183,LeBron James,2003-04,19.0,['CLE' 'MIA' 'LAL'],NBA,SG,82.0,82.0,42.5,11.4,...,False,True,13,3,3,19,19,5,1,6

In [109]:
# All-rookie
rookie = pd.read_csv("awards/all_rookie.csv")

In [116]:
rookie["Player 6"][0]

nan

In [111]:
db["All-Rookie 1st Team"] = False

In [117]:
for i in range(len(rookie)):
    
    
    # getting all rookie first team
    player_1 = rookie["Player 1"][i]
    player_2 = rookie["Player 2"][i]
    player_3 = rookie["Player 3"][i]
    player_4 = rookie["Player 4"][i]
    player_5 = rookie["Player 5"][i]
    
    # adding true values to those players
    db.loc[db["Name"] == player_1, "All-Rookie 1st Team"] = True
    db.loc[db["Name"] == player_2, "All-Rookie 1st Team"] = True
    db.loc[db["Name"] == player_3, "All-Rookie 1st Team"] = True
    db.loc[db["Name"] == player_4, "All-Rookie 1st Team"] = True
    db.loc[db["Name"] == player_5, "All-Rookie 1st Team"] = True
    
    # if there is a tie for last spot
    if (rookie["Player 5"][i]):
        player_6 = rookie["Player 6"][i]
        db.loc[db["Name"] == player_6, "All-Rookie 1st Team"] = True

In [118]:
db[db["Name"] == "Kawhi Leonard"]

,Name,Season,Age,Tm,Lg,Pos,G,GS,MP,FG,...,Finals MVP,All-NBA 1st Team,All-NBA 2nd Team,All-NBA 3rd Team,All-NBA Teams (Total),All Star Game Selections,All-Defense 1st Team,All-Defense 2nd Team,All-Defense Teams (Total),All-Rookie 1st Team
2657,Kawhi Leonard,2011-12,20.0,['SAS' 'TOR' 'LAC'],NBA,SF,74.0,74.0,34.1,9.3,...,True,3,2,0,5,5,3,4,7,True

In [120]:
db.drop("All Star Games", axis=1)

,Name,Season,Age,Tm,Lg,Pos,G,GS,MP,FG,...,Finals MVP,All-NBA 1st Team,All-NBA 2nd Team,All-NBA 3rd Team,All-NBA Teams (Total),All Star Game Selections,All-Defense 1st Team,All-Defense 2nd Team,All-Defense Teams (Total),All-Rookie 1st Team
0,Kelenna Azubuike,2006-07,23.0,['GSW' 'DAL'],NBA,SG,81.0,51.0,32.1,5.3,...,False,0,0,0,0,0,0,0,0,False
1,Willie Allen,1971-72,22.0,['FLO'],ABA,PF,7.0,NaN,4.3,0.6,...,False,0,0,0,0,0,0,0,0,False
2,Hassan Adams,2006-07,22.0,['NJN' 'TOR'],NBA,SG,61.0,8.0,8.1,1.2,...,False,0,0,0,0,0,0,0,0,False
3,Rafael Addison,1986-87,22.0,['PHO' 'NJN' 'DET' 'CHH'],NBA,SF,79.0,16.0,22.5,3.5,...,False,0,0,0,0,0,0,0,0,False
4,Chuck Aleksinas,1984-85,25.0,['GSW'],NBA,C,74.0,4.0,15.1,2.2,...,False,0,0,0,0,0,0,0,0,False
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
5055,Paul Zipser,2016-17,22.0,['CHI'],NBA,SF,54.0,18.0,19.2,2.0,...,False,0,0,0,0,0,0,0,0,False
5056,Derrick Zimmerman,2005-06,24.0,['NJN'],NBA,PG,2.0,0.0,16.0,1.0,...,False,0,0,0,0,0,0,0,0,False
5057,Ante Žižić,2017-18,21.0,['CLE'],NBA,C,59.0,25.0,18.3,3.1,...,False,0,0,0,0,0,0,0,0,False
5058,Wang Zhizhi,2000-01,23.0,['DAL' 'LAC' 'TOT' 'MIA'],NBA,C,55.0,1.0,10.9,2.0,...,False,0,0,0,0,0,0,0,0,False
5059,Gary Zeller,1970-71,23.0,['BAL' 'TOT' 'NYA'],NBA,SG,50.0,NaN,16.8,3.0,...,False,0,0,0,0,0,0,0,0,False

In [121]:
db.columns

Index(['Name', 'Season', 'Age', 'Tm', 'Lg', 'Pos', 'G', 'GS', 'MP', 'FG',
       'FGA', 'FG%', '3P', '3PA', '3P%', '2P', '2PA', '2P%', 'eFG%', 'FT',
       'FTA', 'FT%', 'ORB', 'DRB', 'TRB', 'AST', 'STL', 'BLK', 'TOV', 'PF',
       'PTS', 'MidSeasonTrade', 'Career high, Points', 'Career high, Rebounds',
       'Career high, Assists', 'Career high, Steals', 'Career high, Blocks',
       'Career high, Game Score', 'College', 'Image URL', 'All Star Games',
       'Championships', 'HOF', 'Pick #', 'Draft Year', 'Triple-Doubles',
       'All Star Game MVP', 'Most Valuable Player', 'Rookie of the Year',
       'Defensive Player of the Year', '6th Man of the Year',
       'Most Improved Player', 'Finals MVP', 'All-NBA 1st Team',
       'All-NBA 2nd Team', 'All-NBA 3rd Team', 'All-NBA Teams (Total)',
       'All Star Game Selections', 'All-Defense 1st Team',
       'All-Defense 2nd Team', 'All-Defense Teams (Total)',
       'All-Rookie 1st Team'],
      dtype='object')