In [1]:
from bs4 import BeautifulSoup
import requests
import pandas as pd
from selenium import webdriver
from selenium.webdriver.chrome.service import Service
import os
import time
import re
import numpy as np

In [2]:
db = pd.read_csv("database.csv")

In [4]:
db = db.drop("Unnamed: 0", axis=1)

In [13]:
asg_mvp = pd.read_csv("awards/asg_mvp.csv")

In [16]:
# Adding all-star game mvp winners
db["All Star Game MVP"] = False

In [29]:
asg_mvp

                   Player
0            Jayson Tatum
1           Stephen Curry
2   Giannis Antetokounmpo
3           Kawhi Leonard
4            Kevin Durant
..                    ...
71           Bill Sharman
72              Bob Cousy
73           George Mikan
74            Paul Arizin
75            Ed Macauley

[76 rows x 1 columns]

In [30]:
# Code to add TRUE for anyone who won ASG MVP
for i in range(len(asg_mvp)):
    player = asg_mvp["Player"][i]
    db.loc[db["Name"] == player, "All Star Game MVP"] = True

In [35]:
mvp = pd.read_csv("awards/nba_mvp.csv")
mvp

                   Player
0             Joel Embiid
1            Nikola Jokić
2            Nikola Jokić
3   Giannis Antetokounmpo
4   Giannis Antetokounmpo
..                    ...
73          Artis Gilmore
74            Mel Daniels
75        Spencer Haywood
76            Mel Daniels
77         Connie Hawkins

[78 rows x 1 columns]

In [45]:
# Adding nba/aba mvp winners
db["Most Valuable Player"] = False
for i in range(len(mvp)):
    player = mvp["Player"][i]
    db.loc[db["Name"] == player, "Most Valuable Player"] = True

In [46]:
db[db["Name"] == "LeBron James"]

,Name,Season,Age,Tm,Lg,Pos,G,GS,MP,FG,...,College,Image URL,All Star Games,Championships,HOF,Pick #,Draft Year,Triple-Doubles,All Star Game MVP,Most Valuable Player
2183,LeBron James,2003-04,19.0,['CLE' 'MIA' 'LAL'],NBA,SG,82.0,82.0,42.5,11.4,...,NaN,https://www.basketball-reference.com/req/20210...,19,4,1,1.0,2003.0,107.0,True,True

In [47]:
db.columns

Index(['Name', 'Season', 'Age', 'Tm', 'Lg', 'Pos', 'G', 'GS', 'MP', 'FG',
       'FGA', 'FG%', '3P', '3PA', '3P%', '2P', '2PA', '2P%', 'eFG%', 'FT',
       'FTA', 'FT%', 'ORB', 'DRB', 'TRB', 'AST', 'STL', 'BLK', 'TOV', 'PF',
       'PTS', 'MidSeasonTrade', 'Career high, Points', 'Career high, Rebounds',
       'Career high, Assists', 'Career high, Steals', 'Career high, Blocks',
       'Career high, Game Score', 'College', 'Image URL', 'All Star Games',
       'Championships', 'HOF', 'Pick #', 'Draft Year', 'Triple-Doubles',
       'All Star Game MVP', 'Most Valuable Player'],
      dtype='object')

In [48]:
# Rookie of the Year
roty = pd.read_csv("awards/roty.csv")
roty

             Player
0    Paolo Banchero
1    Scottie Barnes
2       LaMelo Ball
3         Ja Morant
4       Luka Dončić
..              ...
85        Dan Issel
86    Charlie Scott
87  Spencer Haywood
88    Warren Jabali
89      Mel Daniels

[90 rows x 1 columns]

In [49]:
db["Rookie of the Year"] = False
for i in range(len(roty)):
    player = roty["Player"][i]
    db.loc[db["Name"] == player, "Rookie of the Year"] = True

In [50]:
db[db["Name"] == "LeBron James"]

,Name,Season,Age,Tm,Lg,Pos,G,GS,MP,FG,...,Image URL,All Star Games,Championships,HOF,Pick #,Draft Year,Triple-Doubles,All Star Game MVP,Most Valuable Player,Rookie of the Year
2183,LeBron James,2003-04,19.0,['CLE' 'MIA' 'LAL'],NBA,SG,82.0,82.0,42.5,11.4,...,https://www.basketball-reference.com/req/20210...,19,4,1,1.0,2003.0,107.0,True,True,True

In [51]:
# Defensive Player of the Year
dpoy = pd.read_csv("awards/dpoy.csv")

In [52]:
db["Defensive Player of the Year"] = False
for i in range(len(dpoy)):
    player = dpoy["Player"][i]
    db.loc[db["Name"] == player, "Defensive Player of the Year"] = True

In [53]:
# 6th man of the Year
sixth_moy = pd.read_csv("awards/6moy.csv")

In [54]:
db["6th Man of the Year"] = False
for i in range(len(sixth_moy)):
    player = sixth_moy["Player"][i]
    db.loc[db["Name"] == player, "6th Man of the Year"] = True

In [55]:
# Most Improved
improved = pd.read_csv("awards/improved.csv")

In [57]:
db["Most Improved Player"] = False
for i in range(len(improved)):
    player = improved["Player"][i]
    db.loc[db["Name"] == player, "Most Improved Player"] = True

In [58]:
# Finals MVP
fmvp = pd.read_csv("awards/finals_mvp.csv")

In [59]:
db["Finals MVP"] = False
for i in range(len(fmvp)):
    player = fmvp["Player"][i]
    db.loc[db["Name"] == player, "Finals MVP"] = True

In [61]:
db[db["Name"] == "Giannis Antetokounmpo"]

,Name,Season,Age,Tm,Lg,Pos,G,GS,MP,FG,...,Pick #,Draft Year,Triple-Doubles,All Star Game MVP,Most Valuable Player,Rookie of the Year,Defensive Player of the Year,6th Man of the Year,Most Improved Player,Finals MVP
117,Giannis Antetokounmpo,2013-14,19.0,['MIL'],NBA,SF,81.0,80.0,36.7,11.2,...,15.0,2013.0,35.0,True,True,False,True,False,True,True

## Finished all major awards, now to add all-nba team, all-defensive, and all-rookie (maybe)