In [1]:
from bs4 import BeautifulSoup
import requests
import pandas as pd
from selenium import webdriver
from selenium.webdriver.chrome.service import Service
import time
import re

### Testing whether web scraping works with Kareem to capture per game stats

In [2]:
service = Service(executable_path="/usr/local/bin")
options = webdriver.ChromeOptions()
driver = webdriver.Chrome(service=service, options=options)

In [3]:
kareem_url = 'https://www.basketball-reference.com/players/a/adamsst01.html' #Use whatever URL you're scraping from
d = driver.get(kareem_url)
html = driver.page_source
soup = BeautifulSoup(html, "lxml")

In [4]:
kareem_pergame = soup.find('table', {'id':'per_game'})

In [5]:
kareem_pergame_table = pd.read_html(str(kareem_pergame))[0]

In [6]:
kareem_pergame_table

,Season,Age,Tm,Lg,Pos,G,GS,MP,FG,FGA,...,FT%,ORB,DRB,TRB,AST,STL,BLK,TOV,PF,PTS
0,2013-14,20.0,OKC,NBA,C,81.0,20.0,14.8,1.1,2.3,...,0.581,1.8,2.3,4.1,0.5,0.5,0.7,0.9,2.5,3.3
1,2014-15,21.0,OKC,NBA,C,70.0,67.0,25.3,3.1,5.7,...,0.502,2.8,4.6,7.5,0.9,0.5,1.2,1.4,3.2,7.7
2,2015-16,22.0,OKC,NBA,C,80.0,80.0,25.2,3.3,5.3,...,0.582,2.7,3.9,6.7,0.8,0.5,1.1,1.1,2.8,8.0
3,2016-17,23.0,OKC,NBA,C,80.0,80.0,29.9,4.7,8.2,...,0.611,3.5,4.2,7.7,1.1,1.1,1.0,1.8,2.4,11.3
4,2017-18,24.0,OKC,NBA,C,76.0,76.0,32.7,5.9,9.4,...,0.559,5.1,4.0,9.0,1.2,1.2,1.0,1.7,2.8,13.9
5,2018-19,25.0,OKC,NBA,C,80.0,80.0,33.4,6.0,10.1,...,0.500,4.9,4.6,9.5,1.6,1.5,1.0,1.7,2.6,13.9
6,2019-20,26.0,OKC,NBA,C,63.0,63.0,26.7,4.5,7.6,...,0.582,3.3,6.0,9.3,2.3,0.8,1.1,1.5,1.9,10.9
7,2020-21,27.0,NOP,NBA,C,58.0,58.0,27.7,3.3,5.3,...,0.444,3.7,5.2,8.9,1.9,0.9,0.7,1.3,1.9,7.6
8,2021-22,28.0,MEM,NBA,C,76.0,75.0,26.3,2.8,5.1,...,0.543,4.6,5.4,10.0,3.4,0.9,0.8,1.5,2.0,6.9
9,2022-23,29.0,MEM,NBA,C,42.0,42.0,27.0,3.7,6.3,...,0.364,5.1,6.5,11.5,2.3,0.9,1.1,1.9,2.3,8.6
10,Career,NaN,NaN,NBA,NaN,706.0,641.0,26.8,3.8,6.5,...,0.536,3.7,4.5,8.2,1.5,0.9,1.0,1.5,2.5,9.2
11,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
12,7 seasons,NaN,OKC,NBA,NaN,530.0,466.0,26.8,4.1,6.9,...,0.557,3.4,4.2,7.6,1.2,0.9,1.0,1.4,2.6,9.8
13,2 seasons,NaN,MEM,NBA,NaN,118.0,117.0,26.5,3.1,5.5,...,0.473,4.8,5.8,10.6,3.0,0.9,0.9,1.6,2.1,7.5
14,1 season,NaN,NOP,NBA,NaN,58.0,58.0,27.7,3.3,5.3,...,0.444,3.7,5.2,8.9,1.9,0.9,0.7,1.3,1.9,7.6

In [7]:
career_row = kareem_pergame_table[kareem_pergame_table['Season'] == 'Career'].index.tolist()[0]
kareem_pergame_table_processed = kareem_pergame_table.iloc[:career_row-1]

In [8]:
kareem_pergame_table_processed

,Season,Age,Tm,Lg,Pos,G,GS,MP,FG,FGA,...,FT%,ORB,DRB,TRB,AST,STL,BLK,TOV,PF,PTS
0,2013-14,20.0,OKC,NBA,C,81.0,20.0,14.8,1.1,2.3,...,0.581,1.8,2.3,4.1,0.5,0.5,0.7,0.9,2.5,3.3
1,2014-15,21.0,OKC,NBA,C,70.0,67.0,25.3,3.1,5.7,...,0.502,2.8,4.6,7.5,0.9,0.5,1.2,1.4,3.2,7.7
2,2015-16,22.0,OKC,NBA,C,80.0,80.0,25.2,3.3,5.3,...,0.582,2.7,3.9,6.7,0.8,0.5,1.1,1.1,2.8,8.0
3,2016-17,23.0,OKC,NBA,C,80.0,80.0,29.9,4.7,8.2,...,0.611,3.5,4.2,7.7,1.1,1.1,1.0,1.8,2.4,11.3
4,2017-18,24.0,OKC,NBA,C,76.0,76.0,32.7,5.9,9.4,...,0.559,5.1,4.0,9.0,1.2,1.2,1.0,1.7,2.8,13.9
5,2018-19,25.0,OKC,NBA,C,80.0,80.0,33.4,6.0,10.1,...,0.500,4.9,4.6,9.5,1.6,1.5,1.0,1.7,2.6,13.9
6,2019-20,26.0,OKC,NBA,C,63.0,63.0,26.7,4.5,7.6,...,0.582,3.3,6.0,9.3,2.3,0.8,1.1,1.5,1.9,10.9
7,2020-21,27.0,NOP,NBA,C,58.0,58.0,27.7,3.3,5.3,...,0.444,3.7,5.2,8.9,1.9,0.9,0.7,1.3,1.9,7.6
8,2021-22,28.0,MEM,NBA,C,76.0,75.0,26.3,2.8,5.1,...,0.543,4.6,5.4,10.0,3.4,0.9,0.8,1.5,2.0,6.9

In [9]:
kareem_teams = kareem_pergame_table['Tm'].unique()
kareem_teams

array(['OKC', 'NOP', 'MEM', nan], dtype=object)

In [10]:
kareem_teams = kareem_teams[~pd.isnull(kareem_teams)]
kareem_teams

array(['OKC', 'NOP', 'MEM'], dtype=object)

In [11]:
kareem_full = kareem_pergame_table_processed.apply(lambda x: x.dropna().max()).to_frame().T
kareem_full

,Season,Age,Tm,Lg,Pos,G,GS,MP,FG,FGA,...,FT%,ORB,DRB,TRB,AST,STL,BLK,TOV,PF,PTS
0,2021-22,28.0,OKC,NBA,C,81.0,80.0,33.4,6.0,10.1,...,0.611,5.1,6.0,10.0,3.4,1.5,1.2,1.8,3.2,13.9

In [12]:
kareem_full.loc[0, 'Tm'] = kareem_teams
kareem_full

,Season,Age,Tm,Lg,Pos,G,GS,MP,FG,FGA,...,FT%,ORB,DRB,TRB,AST,STL,BLK,TOV,PF,PTS
0,2021-22,28.0,"[OKC, NOP, MEM]",NBA,C,81.0,80.0,33.4,6.0,10.1,...,0.611,5.1,6.0,10.0,3.4,1.5,1.2,1.8,3.2,13.9

## Got a processed per game row with max of each category kept and "Tm" being an array of all teams played on

### Now to try game highs section

In [13]:
kareem_highs = soup.find('table', {'id':'stathead_insights'})

In [14]:
kareem_highs_table = pd.read_html(str(kareem_highs))[0]
kareem_highs_table

                 Highlight  Unnamed: 1                        In Stathead
0      Career high, Points        27.0  View full stats from top 20 games
1    Career high, Rebounds        23.0  View full stats from top 20 games
2     Career high, Assists        10.0  View full stats from top 20 games
3      Career high, Steals         6.0  View full stats from top 20 games
4      Career high, Blocks         6.0  View full stats from top 20 games
5  Career high, Game Score        29.5  View full stats from top 20 games
6           Triple-Doubles         1.0                           View all

In [15]:
kareem_highs_table['Unnamed: 1'].tolist()

[27.0, 23.0, 10.0, 6.0, 6.0, 29.5, 1.0]

In [16]:
kareem_highs_table["Highlight"].tolist()

['Career high, Points',
 'Career high, Rebounds',
 'Career high, Assists',
 'Career high, Steals',
 'Career high, Blocks',
 'Career high, Game Score',
 'Triple-Doubles']

In [17]:
kareem_full[kareem_highs_table["Highlight"].tolist()] = kareem_highs_table['Unnamed: 1'].tolist()

In [18]:
kareem_full

,Season,Age,Tm,Lg,Pos,G,GS,MP,FG,FGA,...,TOV,PF,PTS,"Career high, Points","Career high, Rebounds","Career high, Assists","Career high, Steals","Career high, Blocks","Career high, Game Score",Triple-Doubles
0,2021-22,28.0,"[OKC, NOP, MEM]",NBA,C,81.0,80.0,33.4,6.0,10.1,...,1.8,3.2,13.9,27.0,23.0,10.0,6.0,6.0,29.5,1.0

### Now college stats

In [21]:
kareem_college = soup.find('table', {'id':'all_college_stats'})

In [22]:
kareem_college_table = pd.read_html(str(kareem_college))[0]

In [23]:
kareem_college_table.columns = kareem_college_table.columns.droplevel()
kareem_college_table

,Season,Age,College,G,MP,FG,FGA,3P,3PA,FT,...,TOV,PF,PTS,FG%,3P%,FT%,MP,PTS,TRB,AST
0,2012-13,19.0,PITT,32,749,100,175,0,0,31,...,35,52,231,0.571,NaN,0.443,23.4,7.2,6.3,0.6
1,Career,NaN,NaN,32,749,100,175,0,0,31,...,35,52,231,0.571,NaN,0.443,23.4,7.2,6.3,0.6

In [24]:
kareem_college_teams = kareem_college_table['College'].unique()
kareem_college_teams = kareem_college_teams[~pd.isnull(kareem_college_teams)]
kareem_college_teams

array(['PITT'], dtype=object)

In [25]:
kareem_full.loc[0, 'College'] = kareem_college_teams

In [26]:
kareem_full

,Season,Age,Tm,Lg,Pos,G,GS,MP,FG,FGA,...,PF,PTS,"Career high, Points","Career high, Rebounds","Career high, Assists","Career high, Steals","Career high, Blocks","Career high, Game Score",Triple-Doubles,College
0,2021-22,28.0,"[OKC, NOP, MEM]",NBA,C,81.0,80.0,33.4,6.0,10.1,...,3.2,13.9,27.0,23.0,10.0,6.0,6.0,29.5,1.0,[PITT]

### Now get all the awards

In [27]:
kareem_allstar = soup.find(id='leaderboard_allstar')

In [33]:
kareem_allstar is None

True

In [34]:
if kareem_allstar is not None:
    kareem_all_star_text = [button.text for button in kareem_allstar][-2]
    kareem_num_all_stars = int(re.findall("\d+", kareem_all_star_text)[0])
    kareem_full["All Star Games"] = kareem_num_all_stars
else:
    kareem_full["All Star Games"] = 0

In [37]:
kareem_champs = soup.find(id='leaderboard_championships')

In [38]:
if kareem_allstar is not None:
    kareem_champs_text = [button.text for button in kareem_allstar][-2]
    kareem_num_champs = int(re.findall("\d+", kareem_all_star_text)[0])
    kareem_full["Championships"] = kareem_num_all_stars
else:
    kareem_full["Championships"] = 0

In [39]:
kareem_hof = soup.find(id='leaderboard_hof_prob')

In [40]:
kareem_hof_text = [button.text for button in kareem_hof][-2]
kareem_hof_text

'\nHall of Fame Probability  0.0%\n\n'

In [41]:
kareem_hof_prob = int(re.findall("\d+", kareem_hof_text)[0])

In [42]:
if (kareem_hof_prob) == 100:
    kareem_full["HOF"] = 1
else:
    kareem_full["HOF"] = 0

In [43]:
kareem_full

,Season,Age,Tm,Lg,Pos,G,GS,MP,FG,FGA,...,"Career high, Rebounds","Career high, Assists","Career high, Steals","Career high, Blocks","Career high, Game Score",Triple-Doubles,College,All Star Games,Championships,HOF
0,2021-22,28.0,"[OKC, NOP, MEM]",NBA,C,81.0,80.0,33.4,6.0,10.1,...,23.0,10.0,6.0,6.0,29.5,1.0,[PITT],0,0,0

In [126]:
kareem_drafted = soup.find(id="meta")
kareem_drafted_p = kareem_drafted.findAll('p')
desired_p_tag = None
for tag in kareem_drafted_p:
    if tag.name == 'p' and tag.strong and tag.strong.text.strip() == 'Draft:':
        desired_p_tag = tag
        break

In [127]:
kareem_draft_text = desired_p_tag.text.split('\n')[-2]
kareem_match = re.search(r'\b\d+(?:st|nd|rd|th) pick\b', kareem_draft_text).group(0)
kareem_pick = int(re.findall("\d+", kareem_match)[0])

In [128]:
kareem_pick

12

In [129]:
kareem_full["Pick #"] = kareem_pick

In [136]:
kareem_draft_match = re.search(r'\d{4}\sNBA\sDraft', kareem_draft_text).group(0)
kareem_draft_year = int(re.findall("\d+", kareem_draft_match)[0])
kareem_draft_year

2013

In [137]:
kareem_full["Draft Year"] = kareem_draft_year

## Last thing is his image URL

In [132]:
kareem_image = soup.find(class_="media-item")

In [133]:
kareem_image_url = kareem_image.find('img')['src']

In [134]:
kareem_full['Image URL'] = kareem_image_url

In [135]:
kareem_full

,Season,Age,Tm,Lg,Pos,G,GS,MP,FG,FGA,...,"Career high, Blocks","Career high, Game Score",Triple-Doubles,College,All Star Games,Championships,HOF,Pick #,Draft Year,Image URL
0,2021-22,28.0,"[OKC, NOP, MEM]",NBA,C,81.0,80.0,33.4,6.0,10.1,...,6.0,29.5,1.0,[PITT],0,0,0,12,2013,https://www.basketball-reference.com/req/20210...